
  
  .rbc-month-view .rbc-date-cell {
    height: 300px;
  }
  
  .rbc-month-row .rbc-date-cell {
    text-align: start;
    padding: 15px;
    font-weight: bold;
  }
  
  .rbc-month-view .rbc-header {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
  }


  